*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body{
	text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, #b1bfd8  0%, #6782b4 100%);
    
}


h1{
  color: #f2f2f2;
  font-weight: 500;
  font-size: 40px;
  margin: 20px 20px 20px 20px;
}

h1 a{
	text-decoration: none;
    color: #000000;
    font-family: system-ui;
    padding-left: 10px;
    padding-right: 10px;
}


/*@media(min-width: 1200px){
	body{
		overflow: hidden;
	}
}*/

.password-box{
    background-color: #f2f2f2;
}

.pw-header{
    padding: 20px 10px 20px 10px;
}

.pw{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
   /* display: flex;*/
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: "verdana";
    
}


.pw-body{
    padding: 10px 10px 20px 10px;
}

.copyBtn{
    cursor: pointer;
    font-style: italic;
}



.form-control{
color: #ffffff;
display: flex;
justify-content: space-between;
margin: 0.75rem 0;
}
.generate{
    display: block;
    background-color: #284671;
    color: #ffffff;
    font-weight: 300px;
    font-family: 'verdana';
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

